body{

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin:0px;
    padding:0px;
    background: url("gym.avif");
    background-size:100%;
    height: 100vh;

 }
  .left{
    display:inline-block;
   /* border:2px solid red;*/
    position:absolute;
    left: 34px;
    top:20px;
    color:red;
   
   
    


  }

  .left img{
    width: 95px;
    filter: invert(100%);
    border-radius: 40%;
   
   }

   .left div{
    text-align: left;
    color:red)
    ;
   }


.mid{
    display:block;
    width:49%;
    margin:25px  auto;
    font-size: 23px;


   /* border:2px solid rgb(124, 203, 132);*/
}
.right{

    position:absolute;
    right: 34px;
    top:38px;
    display: inline-block;
    /*border:2px solid rgb(190, 153, 61);*/
  

}

.nevgation_bar {
    display: inline-block;
}

.nevgation_bar  li{
    display: inline-block;
    font: size 30px;
}

.nevgation_bar  li  a{
    color:red;
    text-decoration: none;
    padding: 10px;
}

.nevgation_bar  li  a:hover,.nevgation_bar li a.active{
    color:rgb(55, 7, 101);
    text-decoration: underline;
    
}

.btn{

    margin: 9px;
    color:red;
    padding:2px;
    padding: 4px 12px;
    border-radius: 13px;
    border-color:transparent;
    background-color: transparent;
    font-size: 16px;
    cursor:pointer;
    width: 100px;


}

.btn:hover{
    background-color: rgb(209, 202, 202);

}


.container{
    border: 2px solid red;
    margin: 115px 35px;
    padding: 18px 27px;
    width:42%;
    border-radius: 60px;

}

.container h1{
    text-align: center;
    color: red;
}


.form-group input{

    text-align: center;
    display: block;
    width: 457px;
    padding: 6px;
    margin: 13px auto;
    font-size: 20px;
    border-radius: 18px;
}

.sub:hover{
    background-color: rgb(209, 202, 202);

}


.sub{

    margin: 9px;
    color: rgb(175, 9, 70);
    padding: 2px;
    padding: 9px 1px;
    border-radius: 13px;
    border-color: transparent;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;